body {
  text-align: center;
  background-color: #283149;



}

h1 {
    color: #DBEDF3;
    text-shadow: 3px 0 #da0463;
      font-size: 5rem;
        font-family: "Arvo", cursive;
}

button{
  color: #da0463;
      outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
    font-family: "Arvo", cursive;
    font-weight: 600;
    width: 150px;
    height: 150px;
    line-height: 2;
    border-radius: 15px;
    margin: 10px;
    text-shadow: 3px 0 #dbedf3;
    display: inline-block;

}

footer{
  color: #DBEDF3;
  font-family: sans-serif;
}

.set{
  margin: 10% auto;
}

.w{
  background-image: url("images/tom1.png");
}

.a{
background-image: url("images/tom2.png");
}

.s{
background-image: url("images/tom3.png");
}

.d{
background-image: url("images/tom4.png");
}

.j{
background-image: url("images/snare.png");
}

.k{
background-image: url("images/crash.png");
}

.l{
background-image: url("images/kick.png");
}

.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
  color: white;
}
